.progressIndicator {
	width: 64px;
	height: 64px;
	position: fixed;
	right: 50%;
	bottom: 50%;
	z-index: 3000;
}

.header-panel {
	border: none;
}

.main .ui-layout-pane-north .ui-layout-unit-content {
	height: 70px !important;
}

.layout-header {
	height: 70px !important;
	width: 97% !important;
	border: none;
	top: 0px !important;
	margin-left: 15px !important;
}

.main .ui-layout-unit {
	visibility: hidden !important;
}

.separator-head {
	border: none !important;
	height: 2px;
	background-color: #2e92cf !important;
	margin-left: 15px;
	margin-right: 15px
}

.separator-input {
	border: none !important;
	height: 1px;
	background-color: #2e92cf !important;
	margin-right: 15px
}

.ui-container-west {
	border: none;
	top: 90px !important;
	left: 0px !important;
	height: 520px !important;
	margin: 0px;
	margin-left: 15px !important;
	padding: 0px;
}

.class-container {
	margin-right: 3px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.menu-icon-panel {
	border: none;
	width: 160px;
	height: 50px;
	background-color: #0277bd;
	margin: 1px;
	margin-right: 2px;
	margin-bottom: 1px;
	position: relative;
	display: block;
	border-radius: 0px;
}

.menu-icon-panel .ui-panel-content {
	margin: auto;
	width: 70%;
	padding: 10px;
}

.menu-icon-panel>div {
	padding-top: 12px !important;
}

.menu-icon-panel-sub {
	border: none;
	width: 160px;
	height: 50px;
	background-color: #26a69a;
	margin: 1px;
	margin-right: 2px;
	margin-bottom: 1px;
	position: relative;
	display: block;
	border-radius: 0px;
}

.menu-icon-panel-sub .ui-panel-content {
	margin: auto;
	width: 50%;
	padding: 10px;
	padding-top: 0px;
}

.menu-icon-panel-sub>div {
	padding-top: 12px !important;
}

.class-container-west {
	border: 0px !important;
}

.class-container-west .ui-panelgrid-cell a {
	text-decoration: none;
}

.class-container-west .ui-panelgrid-cell, .class-container-west .ui-widget-content {
	border-width: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
}

.icon-template {
	width: 54px;
	height: 58px;
	right: 2px;
	position: relative;
	border: 0px;
}

.menu-icon-label {
	border: none;
	color: white;
	font-size: 1em;
	position: relative;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	cursor: pointer; *
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.layout-center>div {
	width: 98%;
}

.ui-tooltip {
	background-color: transparent;
}

.col-stockist-2 {
	width: 70%;
	vertical-align: initial;
}

.col-stockist-1 {
	width: 30%;
	vertical-align: initial;
}

.panel-top-stockist, .panel-top-stockist .ui-panelgrid-cell, .panel-top-stockist .ui-panel {
	border: none;
}

.panel-central-stockist, .panel-central-stockist .ui-panelgrid-cell, .panel-central-stockist .ui-panel {
	border: none;
}

a.ui-state-hover {
	color: white !important;
	background-color: #26a69a !important;
}

.calendarFilter>input {
	width: 80px;
}

.ui-column-customfilter {
	padding-top: 5px !important;
}

.ui-column-customfilter>span>input, .ui-filter-column>input {
	height: 5px;
}

.ui-filter-column>input {
	margin-top: 5px !important;
}

.ui-expanded-row-content td table {
	border: 0px;
}

.customer-order, .stockist-order {
	width: 20%;
}

.customer-order-order, .stockist-order-order {
	width: 25%;
}

.customer-order-product, .stockist-order-product {
	width: 55%;
}

.sh-min table tbody td {
	padding: 0px 10px !important;
}

.dashboard-stockist .ui-dashboard-column {
	width: 33%;
}

.dashboard-stockist {
	border: solid 0px #c6d6df;
	background-color: white;
}

.dashboard-stockist .ui-panel, .product-stockist-panel {
	border: none;
}

th[role=columnheader] {
	background-color: #0277bd !important;
	color: white !important;
}

.header-datatable > div > table > thead > tr th.ui-state-active  {
	background-color: #0277bd !important;
	box-shaddow: ;
}